<div id="main-title">   
<h1>Welcome to CSE Motors!</h1>
</div>
<div id="main-content">
    <img src="../images/vehicles/delorean.jpg" alt="Delorean" class="main-image">
    <div class="translucent-box">
        <ul class="box-text">
            <li id="box-title">DMC Delorean</li>
            <li id="box-details">3 Cup holders</li>
            <li id="box-details">Superman doors</li>
            <li id="box-details">Fuzzy dice!</li>
        </ul>
        <img src="../images/site/own_today.png" alt="Own today" class="translucent-box-image">
    </div>
    <div class="main-box">
        <h2>Our Company</h2>
        <p>Welcome to CSE Motors! We are a car dealership that specializes in classic cars. We have a wide selection of cars from the 1950s, 1960s, and 1970s. We also have a few modern cars for sale. We are located in the heart of the city and have been in business for over 20 years. We have a great selection of cars and our prices are very competitive. Come visit us today and see our great selection of cars!</p>
    </div>
</div>