<div id="main-title">   
    <h1>Welcome to CSE Motors!</h1>
</div>
<div class="main-content">
    <img src="../images/vehicles/delorean.jpg" alt="Delorean" class="main-image">
    <div class="translucent-box">
        <ul class="box-text">
            <li id="box-title">DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <img src="../images/site/own_today.png" alt="Own today" class="translucent-box-image">
    </div>
    <div class="main-reviews">
        <h1>DMC Delorean Reviews</h1>
        <ul class="main-reviews-items">
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>